body {
    font-family: serif;
    margin: 0;
    padding: 20px;
    background-color: #ffffff;
}

.card {
    width: 500px;
}

.card-header {
    background-color: #558b93;
    padding: 15px 20px;
}

.card-header h1 {
    color: #ffffff;
    margin: 0;
    font-size: 32px;
    font-weight: bold;
}

.card-body {
    background-color: #ced9d2;
    padding: 15px 20px;
}

.card-body p {
    margin: 0;
    font-size: 16px;
    line-height: 1.4;
    color: #000000;
}